# Example usage

To use `gradecalculatorpy` in a project:

> Use `pip install gradecalculatorpy` to have the package installed first

In [58]:
import gradecalculatorpy

print(gradecalculatorpy.__version__)

0.0.1

## Imports

In [41]:
from gradecalculatorpy.construct_course import construct_course
from gradecalculatorpy.update_grades import update_assignment_grade
from gradecalculatorpy.calculate_grade import calculate_grade
from gradecalculatorpy.predict_final import predict_final

In [63]:
import pandas as pd
import numpy as np

## 1. Create the grading structure of a course using `construct_course`

In [46]:
construct_course('dsci572', '/')

  Components  Weights (%)  Grades (%)
0       Lab1           15         NaN
1       Lab2           15         NaN
2      Quiz1           20         NaN
3       Lab3           15         NaN
4       Lab4           15         NaN
5      Quiz2           20         NaN

In [47]:
pd.read_csv('dsci572.csv', index_col=0)

  Components  Weights (%)  Grades (%)
0       Lab1           15         NaN
1       Lab2           15         NaN
2      Quiz1           20         NaN
3       Lab3           15         NaN
4       Lab4           15         NaN
5      Quiz2           20         NaN

## 2. Update a few components using `update_grades`

In [72]:
update_assignment_grade('dsci572.csv', 'Lab1', 73.00)

In [73]:
pd.read_csv('dsci572.csv', index_col=0)

  Components  Weights (%)  Grades (%)
0       Lab1           15        73.0
1       Lab2           15        79.0
2      Quiz1           20        83.0
3       Lab3           15        89.0
4       Lab4           15        97.0
5      Quiz2           20        95.0

In [78]:
update_assignment_grade('dsci572.csv', 'Lab2', 79.00)
update_assignment_grade('dsci572.csv', 'Quiz1', 83.00)
update_assignment_grade('dsci572.csv', 'Lab3', 89.00)
update_assignment_grade('dsci572.csv', 'Lab4', 97.00)
# update_assignment_grade('dsci572.csv', 'Quiz2', np.NaN)

In [77]:
pd.read_csv('dsci572.csv', index_col=0)

  Components  Weights (%)  Grades (%)
0       Lab1           15        73.0
1       Lab2           15        79.0
2      Quiz1           20        83.0
3       Lab3           15        89.0
4       Lab4           15        97.0
5      Quiz2           20         NaN

## 3. Calculate the grade for last component needed for a target grade using `predict_final`

In [79]:
predict_final('/dsci572.csv', 85)

88.5

## 4. Calculate the course's final average using `calculate_grade`

In [80]:
update_assignment_grade('dsci572.csv', 'Quiz2', 95)

In [81]:
calculate_grade('dsci572.csv')

  Components  Weights (%)  Grades (%)
0       Lab1           15        73.0
1       Lab2           15        79.0
2      Quiz1           20        83.0
3       Lab3           15        89.0
4       Lab4           15        97.0
5      Quiz2           20        95.0

'Course component grades with incorrect format (not 2 decimal places) for Lab1'