# Example usage

To use `gradecalculatorpy` in a project:

In [1]:
import gradecalculatorpy

print(gradecalculatorpy.__version__)

0.0.1

## Imports

In [2]:
from gradecalculatorpy.construct_course import construct_course
from gradecalculatorpy.update_grades import update_assignment_grade
from gradecalculatorpy.calculate_grade import calculate_grade
from gradecalculatorpy.predict_final import predict_final

In [3]:
import pandas as pd

## 1. Create the grading structure of a course using `construct_course`

In [4]:
construct_course('dsci524', '/')

What is name of dsci524 component #1?  Milestone 1
What is weight(%) of dsci524 component #1?  20
What is name of dsci524 component #2?  IA 1
What is weight(%) of dsci524 component #2?  2
What is name of dsci524 component #3?  Milestone 2
What is weight(%) of dsci524 component #3?  20
What is name of dsci524 component #4?  IA 2
What is weight(%) of dsci524 component #4?  3
What is name of dsci524 component #5?  Milestone 3
What is weight(%) of dsci524 component #5?  20
What is name of dsci524 component #6?  Milestone 4
What is weight(%) of dsci524 component #6?  20
What is name of dsci524 component #7?  Individual peer review
What is weight(%) of dsci524 component #7?  10
What is name of dsci524 component #8?  Team work reflection
What is weight(%) of dsci524 component #8?  5

               Components  Weights (%)  Grades (%)
0             Milestone 1           20         NaN
1                    IA 1            2         NaN
2             Milestone 2           20         NaN
3                    IA 2            3         NaN
4             Milestone 3           20         NaN
5             Milestone 4           20         NaN
6  Individual peer review           10         NaN
7    Team work reflection            5         NaN

In [5]:
pd.read_csv('dsci524.csv', index_col=0)

               Components  Weights (%)  Grades (%)
0             Milestone 1           20         NaN
1                    IA 1            2         NaN
2             Milestone 2           20         NaN
3                    IA 2            3         NaN
4             Milestone 3           20         NaN
5             Milestone 4           20         NaN
6  Individual peer review           10         NaN
7    Team work reflection            5         NaN

## 2. Update a few components using `update_grades`

In [6]:
update_assignment_grade('dsci524.csv', 'Milestone 1', 95.12)

In [7]:
pd.read_csv('dsci524.csv', index_col=0)

               Components  Weights (%)  Grades (%)
0             Milestone 1           20       95.12
1                    IA 1            2         NaN
2             Milestone 2           20         NaN
3                    IA 2            3         NaN
4             Milestone 3           20         NaN
5             Milestone 4           20         NaN
6  Individual peer review           10         NaN
7    Team work reflection            5         NaN

In [8]:
update_assignment_grade('dsci524.csv', 'IA 1', 99.99)
update_assignment_grade('dsci524.csv', 'Milestone 2', 90.33)
update_assignment_grade('dsci524.csv', 'IA 2', 99.99)
update_assignment_grade('dsci524.csv', 'Milestone 3', 92.55)
update_assignment_grade('dsci524.csv', 'Milestone 4', 95.75)
update_assignment_grade('dsci524.csv', 'Individual peer review', 93.33)

In [9]:
pd.read_csv('dsci524.csv', index_col=0)

               Components  Weights (%)  Grades (%)
0             Milestone 1           20       95.12
1                    IA 1            2       99.99
2             Milestone 2           20       90.33
3                    IA 2            3       99.99
4             Milestone 3           20       92.55
5             Milestone 4           20       95.75
6  Individual peer review           10       93.33
7    Team work reflection            5         NaN

## 3. Calculate the grade for last component needed for a target grade using `predict_final`

In [10]:
predict_final('/dsci524.csv', 93)

78.4

## 4. Calculate the course's final average using `calculate_grade`

In [11]:
update_assignment_grade('dsci524.csv', 'Team work reflection', 80.23)

In [12]:
calculate_grade('dsci524.csv')

               Components  Weights (%)  Grades (%)
0             Milestone 1           20       95.12
1                    IA 1            2       99.99
2             Milestone 2           20       90.33
3                    IA 2            3       99.99
4             Milestone 3           20       92.55
5             Milestone 4           20       95.75
6  Individual peer review           10       93.33
7    Team work reflection            5       80.23

'Course grade is 93.09%'